<ion-card>
  <img alt="Silhouette of mountains" src="../../assets/tela-filmes.svg" />
  <ion-card-header>
    <ion-card-title><b>Justice League</b></ion-card-title>
    <ion-card-subtitle>ZACK SNYDER</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Ben Affleck, Gal Gdot, Jason Momoa, Henry Cavill
  </ion-card-content>
</ion-card>
<div class="buttons">
  <ion-button>Book now</ion-button>
  <ion-button fill="outline">Add to my movies +</ion-button>
</div>
<ion-chip>Default</ion-chip>
<ion-chip [disabled]="true">Disabled</ion-chip>
<ion-chip [outline]="true">Outline</ion-chip>